<body id="killbackground">
  <div class="container">
    <h2 class='create-heading'>Create. </h2>
    <p>Here you can paste your code and save it for later usage. Maybe it was some good looking code, or
      just something new your learned.
    </p>
    <form method="POST" action="/snippet">
      <div class="textaria">
        <br>
        <textarea class="form-control" name="text" rows="8"></textarea>
      </div>
      <br>
      <button class="buttons my-2 my-sm-0">UpLoad</button>
    </form>
    <br>
    <ul>
      {{#each snipp}}
      <div class="codesnipp">
        <li>
          <pre><code>{{ text }}</code></pre> Made by: {{ usernamE }} - At: {{ createdAt }}
          <a href="/snippet/update/{{ id }}">Update</a> or
          <a href="/snippet/delete/{{ id }}">Delete</a>
        </li>
      </div>
      <br>
      {{/each}}
    </ul>
  </div>
</body>